# Ignore everything
*

# But not these files...
!.gitignore
!.editorconfig
!.tmux.conf
!.vimrc
!.vim/
!.vim/pack
!.vim/pack/packages
!.vim/pack/packages/start
!.vim/pack/packages/start/*
!.config
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc
