[user]
	email = javier@lufte.net
	name = lufte
[core]
	editor = vim
[pull]
	ff = only
[init]
	defaultBranch = master
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
  all = true
